extends layout

block content
  include header.pug
  .breadcrumb
  #main
    form.search(method='post' action='/adopciones')
      label(for='tipo') Tipo:
      select#tipo(name='tipo')
        option(value="-1" disabled selected) Elige
        each filter in filterType
          option(value=filter name='tipo') #{filter}
      label(for='tamano') Tamaño:
      select#tamano(name='tamano')
        option(value="-1" disabled selected) Elige
        each filter in filterSize
          option(value=filter name='tamano') #{filter}
      button#filter(type='submit') Buscar
    section.pets
      each pet in content
        .each(data-id=pet.code)
          .imgPet
            img(src='../'+pet.photo)
          p.name #{pet.name}
          a(href='/adopcion/'+pet.code)
            button Más info
          button.heart(data-id=pet.code)
            i.far.fa-heart
      .paginado
        - var n = 1
          while n <= total
            a.pag(href='/adopciones/'+n)
              span=n++
  include footer.pug